body{
    background: black;
}

.navbar{
    background: black;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

a {
    text-decoration: none;
    color: white;
}

.paragraf{
    z-index: 1;
}

.picture{
    margin-top: -38px;    
}

#heading{
    margin-top: 8rem;
}

.article-link{
    text-decoration: none;
    color: white;
}
